table{
    border-collapse: collapse;
}
td{
    border: 1px solid #acacac;
    padding: 1rem;
}
dialog{
    font-size: 0.9rem;
    position: absolute;
    bottom: 10%;
    margin: 0 auto;
    min-width: 350px;
    width: 20%;
    border: 2px solid rgba(100, 230, 80);
    border-radius: 0.3rem;
    padding: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
label, input, button, select{
    display: block;
    font: inherit;
    color: inherit;
    background-color: inherit;
}
input, select, button{
    padding: 0.3rem;
    border-radius: 0.3rem;
}
select, button{
    min-width: 100px;
    width: 50%;
    margin: 0 auto;
}
.add-new-btn{
    position: absolute;
    bottom: 1rem;
    width: 100%;
}
#add-new-book{
    max-width: 200px;
    margin: 0 auto;
}