*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: whitesmoke;
    background-color: rgb(30,30, 30);
    background-image: url(./pexels-nitin-arya-386173-1029141.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed; 
    margin-bottom: 1rem;
}

.container{
    backdrop-filter: blur(10px);
    padding: 1rem;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}
h1{
    padding: 1rem;
    text-align: center;
    color: rgb(100, 230, 80);
}
dialog{
    backdrop-filter: blur(20px);
    color: inherit;
    background-color: rgba(0,0 , 0, 0.3);
    font-size: 0.9rem;
    position: absolute;
    bottom: 10%;
    margin: 0 auto;
    min-width: 300px;
    width: 50%;
    max-width: 400px;
    border: 2px solid rgb(100, 230, 80);
    border-radius: 0.3rem;
    padding: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
label, input, button, select{
    display: block;
    font: inherit;
    color: inherit;
    background-color: inherit;
}
input, select, button{
    padding: 0.3rem;
    border-radius: 0.3rem;
}
select{
    color:rgb(29, 169, 7);
    min-width: 100px;
    width: 50%;
    margin: 0 auto;
}
.add-new-btn{
    position: fixed;
    bottom: 2rem;
    width: 100%;
}
#add-new-book{
    border: none;
    box-shadow: none;
    color: inherit;
    background-color: rgb(29, 169, 7);
    max-width: 200px;
    margin: 0 auto;
}

button{
    border: 1px solid rgba( 0, 0, 0);
}
button:hover{
    border: 1px solid rgb(100, 230, 80);
}

.card{
    color: inherit;
    background-color: rgba(240, 255, 240, 0.2);
    align-items: center;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: clamp(250px, 40%, 400px);
    border: 1px solid rgb(100, 250, 80);
    border-radius: 0.5rem;
    backdrop-filter: blur(20px);
    box-shadow: 1px 1px 5px;
}
.info{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.value, .labels{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}