*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(240, 255, 240, 0.253);
    background-image: url(./pexels-nitin-arya-386173-1029141.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    color: rgb(27, 1, 1);
    margin-bottom: 1rem;
}
h1{
    padding: 1rem;
    text-align: center;
    color: rgb(100, 230, 80);
}
table{
    backdrop-filter: blur(20px);
    border-collapse: collapse;
    font-size: 1.1rem;
    background-color: inherit;
    text-align: center;
    margin-bottom: 2rem;
}
td, th{
    border: 1px solid rgb(100, 230, 80);
    padding: 1rem;
}

dialog{
    backdrop-filter: blur(20px);
    color: inherit;
    background-color: rgb(226, 235, 226);
    font-size: 0.9rem;
    position: absolute;
    bottom: 10%;
    margin: 0 auto;
    min-width: 300px;
    width: 50%;
    max-width: 400px;
    border: 2px solid rgb(100, 230, 80);
    border-radius: 0.3rem;
    padding: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
label, input, button, select{
    display: block;
    font: inherit;
    color: inherit;
    background-color: inherit;
}
input, select, button{
    padding: 0.3rem;
    border-radius: 0.3rem;
}
select, button{
    min-width: 100px;
    width: 50%;
    margin: 0 auto;
}
.add-new-btn{
    position: fixed;
    bottom: 2rem;
    width: 100%;
}
#add-new-book{
    border: none;
    box-shadow: none;
    background-color: rgb(100, 230, 80);
    max-width: 200px;
    margin: 0 auto;
}
.table{
    width: 90%;
    margin: 0 auto;
    min-width: 350px;
}
.table button{
    min-width: 75px;
}
button{
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: -2px -2px 5px rgb(100, 230, 80);
}
button:hover{
    border: 1px solid rgb(100, 230, 80);
}
#refer{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}
#refer{
    text-decoration: none;
    color: rgb(100, 230, 80);
}