*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(assets/neda-astani-KWTkd7mHqKE-unsplash.jpg);
  background-size: cover;
  color: black;
  overflow-x: hidden;
}
.card {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 1px 1px 8px rgb(221, 240, 212);
}
input, button{
  padding: 0.4rem 0.2rem;
  border: none;
  box-shadow: 1px 1px 10px rgb(100, 200, 100);
  background: inherit;
  font: inherit;
  border-radius: 0.3rem;
}
.header{
  flex-direction: row;
  justify-content: space-evenly;
}
.search-bar{
  width : 60%;
  display: flex;
  align-items: center;
  gap : 3rem;
}
.search-input {
  width: 70%;
}
.container {
  display : grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 1rem;
}

.left-sidebar {
  grid-column: 1/2;
  align-items: center;
  height: fit-content;
}
.date-time, .sun, .conditions {
  align-items: center;
}
.central-view{
  grid-column: 2/3;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  height: fit-content;
}

.temp-full {
  display : grid;
  gap: 0.5rem 1.5rem;
  grid-template: repeat(8, 1fr) / 7fr 5fr;
}
.temp {
  font-size: 4rem;
  grid-area: 1/1/6/2;
}
.feelslike {
  font-size: 2rem;
  grid-area: 6/1/9/2;
}
.minmax-feelslike {
  grid-area: 1/2/5/3;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
.minmax-temp {
  grid-area: 5/2/9/3;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.minmax-feelslike > , .minmax-temp > {
  width : clamp(100px, 40%, 200px)
}
.clouds, .wind, .moisture, .additional-info {
  width : 47.5%;
  min-width: 450px;
  justify-content: space-between;
  flex-direction: row;
}
.label {
  font-size: 1.2em;
  font-weight: 600;
}
.city-name {
  font-weight: 900;
  font-size: 2rem;
}
.city-name::first-letter {
  font-size: 3rem;
  text-transform: uppercase;
}

footer{
  font-weight: 500;
  align-items: center ;
}
a{
  text-decoration: none;
  color:rgb(100, 250, 100);
}
a:hover{
  text-decoration: underline;
}