@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

.quote-holder{
    padding : 1rem;
    font-size: calc(1.1rem + 1vw);
    font-family: 'Merienda', 'Literata', system-ui, sans-serif;
    /* background-color: rgba(0,0,0, 0.3); */
    display : flex;
    flex-direction: column;
    width : fit-content;
    margin : 0 auto;
    min-height: 200px;
    border-radius: 1rem;
    box-shadow: -1px -1px 10px rgb(0, 0, 0);
    align-items: center;
    gap : 2rem;
    backdrop-filter: blur(1rem);
    color : rgb(255, 255, 255);
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 60%, rgba(252, 176, 69, 1) 100%);
}
body {
    background-color: transparent;
}