@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.2rem;
    font-family: 'Patrick Hand', 'Literata', system-ui, serif;
    min-height: 99vh;
    background-image: url(/pexels-pedro-figueras-202443-681467.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    color:rgb(2, 204, 2);
}
.board,.cell, dialog, input, dialog button, #play, #result, .symbols{
    color: inherit;
    font: inherit;
    box-shadow: 1px 1px 8px rgba(200, 200, 200, 1);
    background-color: rgba(230, 230, 230, 0.1);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0.4rem;
}
.board{
    gap: 0.5rem;
    padding: 0.5rem;
    margin:auto;
    margin-top: 10rem;
    width: calc(3 * 8.7rem + 1px);
    display: flex;
    flex-wrap: wrap;
}
.cell{
    font-size: 3rem;
    backdrop-filter: blur(10px);
    width: 8rem;
    height: 8rem;
}

dialog{
    position: fixed;
    bottom: 4rem;
    margin: 0 auto;
    padding:2rem 1rem;
    width: clamp(400px, 25%, 40%);
    backdrop-filter: blur(10px);
}
dialog form{
    align-items: center;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
input, dialog button{
    display: block;
    font: inherit;
    width: 300px;
    padding: 0.2rem 0.4rem;
}
.playButton{
    width: 100%;
    position: fixed;
    bottom: 1rem;
    margin: 0 auto;
}
#play{
    padding: 0.2rem 0.4rem;
    font:inherit;
    width: 8rem;
    display: block;
    margin: 0 auto;
}

#popUp{
    width: 200px;
    position:absolute;
    top: 80%;
    margin: 0 auto;
}
#popUp button{
    width: 50%;
    margin: auto;
}
#result{
    width: clamp(200px, 25%, 50%);
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
}
button:hover{
    background-color: rgba(230, 230, 230, 0.1);
    border: 1px solid rgb(2, 204, 2);
}
.symbols{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1rem auto;
    min-height: 100px;
}