@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-family: 'Orbitron', 'Literata', system-ui, serif;
    letter-spacing: 0.04rem;
}
body{
    height: 100vh;
    display: flex;
    /* overflow-y: hidden; */
}
form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 1rem;
    background-color: rgba(230, 230, 230, 0.5);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: -1rem -1rem 0.5rem rgba(15, 200, 100, 0.2);
}
.form-field{
    display: flex;
    gap: 5rem;
    width: 100%;
}
.form-control{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
input{
    letter-spacing: inherit;
    border: 2px #acacac solid;
    border-radius: 0.3rem;
    font-family: inherit;
    font-size: 1.1rem;
    padding: 0.4rem;
    width: 100%;
}
button{
    letter-spacing: inherit;
    width: fit-content;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    margin-top: 3rem;
    background: rgba(15, 200, 100, 0.6);
    font-family: inherit;
}
#side-img{
    width: 100%;
}
#side-img img{
    width: 100%;
}
#img-sec{
    width: 35%;
    position:relative;
}
#img-sec div p{
    position: absolute;
    bottom: 3rem;
    left: 20%;
}
#odin-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.5);
    padding: 1rem;
    position: absolute;
    top: 30%;
}
#odin-logo img{
    width: 20%;
}
#odin-logo span{
    font-family: 'Skranji', 'Literata', 'Times New Roman', system-ui, serif;
    color: #acacac;
    font-size: 6rem;
}
.form-sec{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
a{
    color: rgb(15, 200, 100);
    text-decoration: none;
}
#refer-img p{
    background-color: rgba(10, 10, 10, 0.5);
    color: rgba(15, 200, 100);
    padding: 0.7rem;
    border-radius: 0.3rem;
}
input:valid{
    border: 2px solid rgb(15, 200, 100);
}
input[type="password"]:invalid{
    border: 2px solid orangered;
}