@font-face {
    font-family: 'Norse';
    src: url("./Norse-Bold.otf");
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-y: hidden;
    display: flex;
    gap: 5rem;
    align-items: center;
}
body div>img{
    height: 100vh;
    width: auto;
}
.img-section{
    position: relative;
}
.img-section > p{
    color: rgba(5, 250, 123, 0.898);
    position: absolute;
    bottom: 2rem;
    left: clamp(5rem, 25%, 10rem);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.6rem;
    border-radius: 0.5rem;
}
a{
    color: rgba(5, 250, 123, 0.898);
    text-decoration: none;
}
.form-section a , button{
    background-color:rgba(5, 250, 123, 0.898);
    color: rgba(0, 0, 0, 0.8);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font: inherit;
}

form fieldset{
    background-color: rgba(200, 200, 200, 0.5);
    backdrop-filter: blur(10px);
    box-shadow:0px 3px 10px rgb(203, 216, 203);
    border-radius: 0.5rem;
    margin-right: 1rem;
    border: none;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
} 
.form-field{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 3rem;
}
input{
    font-size: 1rem;
    padding: 0.5rem;
    font: inherit;
    border: 2px solid rgb(167, 158, 158);
    border-radius: 0.5rem;
}
label{
    font-weight: 600;
}
button{
    width: fit-content;
    border: none;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
}
h2, h3{
    margin: 1rem 0;
}
.passwords input:invalid{
    border: 2px solid orangered;
}
.odin-logo {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    position:absolute;
    top: clamp(5rem, 25%, 10rem);
    background: rgba(0, 0, 0, 0.5);
}
.odin-logo p{
    padding: 1rem;
    font-family: Norse;
    display: inline;
    color: honeydew;
    font-size: 128px;
}
.odin-logo img{
    padding: 1rem;
    width: 8rem;
    height: auto;
}
input:valid{
    border: 2px solid rgba(5, 250, 123, 0.898);
}