@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merienda", "Literata", "Roboto", system-ui, sans-serif;
    color: #f5f5f5;
    background-image: url(./bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    backdrop-filter: blur(20px);
}
body > div{
    width: 100%;
    padding: 5% 0;
}
.content{
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.4);
    width: clamp(400px,80%, 90vw);
    padding: 0.5rem 2rem;
    margin: 0 auto;
}
#content{
    min-height: 70vh;
}
header{
    align-items: center;
    padding: 1rem;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
header ul{
    gap: 1rem;
    display: flex;
}
button{
    min-width: 50px;
    font: inherit;
    color: purple;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(100, 200, 50);
}
nav, .priceOrder{
    display: flex;
    gap: 1rem;
    justify-content: space-between
}
nav button{
    color: inherit;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.home{
    position: relative;
    display: flex;
    gap: 15%;
}
.imgHome{
    width: 50%;
}
.imgHome img{
    border-radius: 50%;
    width: 100%;
}
.contentHome{
    width: 60%;
}
.contentHome > *{
    margin : 1rem 0;
}
.infoHome{
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    margin-top: 10%;
    display: flex;
    gap: 1rem;
}
.reviews img{
    margin-left: -3rem;
    width: 4rem;
    border-radius: 50%;
}
.reviews{
    margin-left: 3rem;
    align-items: center;
    gap: 1rem;
    display: flex;
}
h1{
    font-size: 3rem;
}
.current{
    background-color: rgb(100, 200, 50);
    color: purple;
}

.about{
    font-size: 1.1rem;
    padding: 1rem;
    width: 70%;
    margin: 0 auto;
    line-height: 1.6rem;
}
.aboutPara{
    margin-bottom: 2rem;
}
.about::first-letter{
    font-size: 3rem;
    font-weight: 800;
}

.contact{
    padding: 1rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contact h3{
    margin-bottom: 0.8rem;
}
.phone::first-letter, .address::first-letter, .timing::first-letter{
    font-size: 2rem;
    font-weight: 800;
}

.bold{
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
}
.menu > div{
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.card{
    font-size: 1.1rem;
    position: relative;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: solid 1px rgb(100, 200, 50);
    border-radius: 0.5rem;
}
.card h3{
    font-size: 1.7rem;
}
.card p{
    margin-bottom: 4rem;
}
.card button{
    color: rgb(100, 200, 50);
    background-color: inherit;
    width: 50%;
    display: block;
}
.priceOrder{
    align-items: center;
    border : 1px solid rgb(100, 200, 50);
    padding: 0.2rem 0.8rem;
    border-radius: 0.4rem;
    width: 50%;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

button:hover{
    color: purple;
    background-color: rgb(92, 205, 35);
}
header > h2{
    font-size: 2rem;
}
body a{
    font-size: 0.9rem;
    text-decoration: none;
    color: rgb(100, 200, 50)
}
body > a{
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.home a{
    position: absolute;
    bottom: -5px;
    right:10%;
}